<!DOCTYPE html>
<html>
<head>
    <title>Simple Group Chat on Node.js</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>

    <ul id="messages"></ul>
      
    <form action="/" method="POST" id="chatForm">
        <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." />
        <button type="button">Send</button>
    </form>

    <script>
    // get socket configuration
    const WS_HOST = String("<%= ws_host %>");
    const WS_PORT = Number("<%= ws_port %>");
    const WS_SERVER_URL = String("<%= ws_prot %>")+WS_HOST+':'+WS_PORT;
    // initialize the socket connection
    const socket = io.connect(WS_SERVER_URL);

    // submit text message without reload/refresh the page
    $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
        socket.emit('chat_message', $('#txt').val());
        $('#txt').val('');
        return false;
    });

    // append the chat text message
    socket.on('chat_message', function(data, _username, _message){
        $('#messages').append($('<li>').html(data));
        if($('#is-typing--'+_username).length) {
            $('#is-typing--'+_username).remove();
        }
    });

    // append text if someone is online
    socket.on('is_online', function(data) {
        $('#messages').append($('<li>').html(data));
    });

    // send typing event
    function isTyping() {
        socket.emit('is_typing', username);
    }

    // append if someone is typing
    socket.on('is_typing', function(data, _username) {
        const eluser_istyping = $('#is-typing--'+_username);
        if(!eluser_istyping.length) {
            $('#messages').append($('<li id="is-typing--'+_username+'">').html(data));
        }
        setInterval(()=>{
            if(eluser_istyping.length) {
                eluser_istyping.remove();
            }
        }, 2000);
        setTimeout(()=> {
            if(eluser_istyping.length) {
                eluser_istyping.remove();
            }
        }, 2000);
    });

    // ask username
    var username = prompt('Please tell me your name');
    socket.emit('username', username);
    </script>

</body>
</html>